<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>aalt</key>
  <array>
    <string>zero</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>zero.onum</string>
    <string>four.onum</string>
    <string>five.onum</string>
    <string>six.onum</string>
    <string>seven.onum</string>
    <string>eight.onum</string>
    <string>nine.onum</string>
  </array>
  <key>aalt2</key>
  <array>
    <string>zero.onum</string>
    <string>four.onum</string>
    <string>five.onum</string>
    <string>six.onum</string>
    <string>seven.onum</string>
    <string>eight.onum</string>
    <string>nine.onum</string>
    <string>zero</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>lnum_onum</key>
  <array>
    <string>zero.onum</string>
    <string>one.onum</string>
    <string>two.onum</string>
    <string>three.onum</string>
    <string>four.onum</string>
    <string>five.onum</string>
    <string>six.onum</string>
    <string>seven.onum</string>
    <string>eight.onum</string>
    <string>nine.onum</string>
  </array>
  <key>lnum_onum_ordn</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>D</string>
    <string>Eth</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
  </array>
  <key>public.kern1.E</key>
  <array>
    <string>AE</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>OE</string>
  </array>
  <key>public.kern1.H</key>
  <array>
    <string>H</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
  </array>
  <key>public.kern1.N</key>
  <array>
    <string>N</string>
    <string>Ntilde</string>
  </array>
  <key>public.kern1.U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
  </array>
  <key>public.kern1.V</key>
  <array>
    <string>V</string>
    <string>W</string>
  </array>
  <key>public.kern1.a</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>aring</string>
    <string>atilde</string>
  </array>
  <key>public.kern1.b</key>
  <array>
    <string>ae</string>
    <string>b</string>
    <string>f_b.liga</string>
    <string>f_f_b.liga</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>thorn</string>
  </array>
  <key>public.kern1.c</key>
  <array>
    <string>c</string>
    <string>ccedilla</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
    <string>oe</string>
  </array>
  <key>public.kern1.d</key>
  <array>
    <string>d</string>
    <string>dcroat</string>
    <string>f_f_l</string>
    <string>fl</string>
    <string>l</string>
    <string>q</string>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
  </array>
  <key>public.kern1.h</key>
  <array>
    <string>f_f_h.liga</string>
    <string>f_h.liga</string>
    <string>h</string>
    <string>m</string>
    <string>n</string>
    <string>ntilde</string>
  </array>
  <key>public.kern1.i</key>
  <array>
    <string>f_f_i</string>
    <string>fi</string>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
  </array>
  <key>public.kern1.k</key>
  <array>
    <string>f_f_k.liga</string>
    <string>f_k.liga</string>
    <string>k</string>
  </array>
  <key>public.kern1.s</key>
  <array>
    <string>s</string>
    <string>scaron</string>
  </array>
  <key>public.kern1.t</key>
  <array>
    <string>f_f_t.liga</string>
    <string>f_t.liga</string>
    <string>t</string>
  </array>
  <key>public.kern1.v</key>
  <array>
    <string>v</string>
    <string>w</string>
    <string>y</string>
  </array>
  <key>public.kern1.z</key>
  <array>
    <string>z</string>
    <string>zcaron</string>
  </array>
  <key>public.kern2.A2</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern2.B</key>
  <array>
    <string>B</string>
    <string>D</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>F</string>
    <string>K</string>
    <string>L</string>
    <string>P</string>
    <string>R</string>
    <string>Thorn</string>
    <string>thorn</string>
  </array>
  <key>public.kern2.C</key>
  <array>
    <string>C</string>
    <string>G</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
  </array>
  <key>public.kern2.H2</key>
  <array>
    <string>H</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
  </array>
  <key>public.kern2.J</key>
  <array>
    <string>.notdef</string>
    <string>Ccedilla</string>
    <string>Dcroat</string>
    <string>Eth</string>
    <string>Euro</string>
    <string>J</string>
    <string>Lslash</string>
    <string>M</string>
    <string>S</string>
    <string>Scaron</string>
    <string>T</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Z</string>
    <string>Zcaron</string>
    <string>acute</string>
    <string>ampersand</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>asterisk</string>
    <string>at</string>
    <string>b</string>
    <string>backslash</string>
    <string>bar</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>breve</string>
    <string>brokenbar</string>
    <string>bullet</string>
    <string>caron</string>
    <string>cedilla</string>
    <string>circumflex</string>
    <string>colon</string>
    <string>copyright</string>
    <string>currency</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>dcroat</string>
    <string>degree</string>
    <string>dieresis</string>
    <string>divide</string>
    <string>dollar</string>
    <string>dotaccent</string>
    <string>dotlessi</string>
    <string>eight</string>
    <string>eight.onum</string>
    <string>emdash</string>
    <string>endash</string>
    <string>equal</string>
    <string>eth</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>five</string>
    <string>five.onum</string>
    <string>four</string>
    <string>four.onum</string>
    <string>fraction</string>
    <string>g</string>
    <string>germandbls</string>
    <string>grave</string>
    <string>greater</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>hungarumlaut</string>
    <string>hyphen</string>
    <string>less</string>
    <string>logicalnot</string>
    <string>lslash</string>
    <string>macron</string>
    <string>minus</string>
    <string>multiply</string>
    <string>nine</string>
    <string>nine.onum</string>
    <string>notequal</string>
    <string>numbersign</string>
    <string>one</string>
    <string>one.onum</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>onesuperior</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>paragraph</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>percent</string>
    <string>periodcentered</string>
    <string>perthousand</string>
    <string>plus</string>
    <string>plusminus</string>
    <string>question</string>
    <string>questiondown</string>
    <string>quotedbl</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesingle</string>
    <string>registered</string>
    <string>ring</string>
    <string>section</string>
    <string>semicolon</string>
    <string>seven</string>
    <string>seven.onum</string>
    <string>six</string>
    <string>six.onum</string>
    <string>slash</string>
    <string>space</string>
    <string>sterling</string>
    <string>t</string>
    <string>three</string>
    <string>three.onum</string>
    <string>threequarters</string>
    <string>threesuperior</string>
    <string>tilde</string>
    <string>trademark</string>
    <string>two</string>
    <string>two.onum</string>
    <string>twosuperior</string>
    <string>underscore</string>
    <string>uni0000</string>
    <string>uni000A</string>
    <string>uni000D</string>
    <string>uni000D.1</string>
    <string>x</string>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>yen</string>
    <string>zero</string>
    <string>zero.onum</string>
  </array>
  <key>public.kern2.N2</key>
  <array>
    <string>N</string>
    <string>Ntilde</string>
  </array>
  <key>public.kern2.U2</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
  </array>
  <key>public.kern2.V2</key>
  <array>
    <string>V</string>
    <string>W</string>
  </array>
  <key>public.kern2.a2</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>agrave</string>
    <string>aring</string>
    <string>atilde</string>
  </array>
  <key>public.kern2.c2</key>
  <array>
    <string>c</string>
    <string>ccedilla</string>
    <string>cent</string>
    <string>d</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>q</string>
  </array>
  <key>public.kern2.comma</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern2.f</key>
  <array>
    <string>f</string>
    <string>f_b.liga</string>
    <string>f_f</string>
    <string>f_f_b.liga</string>
    <string>f_f_h.liga</string>
    <string>f_f_i</string>
    <string>f_f_j.liga</string>
    <string>f_f_k.liga</string>
    <string>f_f_l</string>
    <string>f_f_t.liga</string>
    <string>f_h.liga</string>
    <string>f_j.liga</string>
    <string>f_k.liga</string>
    <string>f_t.liga</string>
    <string>fi</string>
    <string>fl</string>
  </array>
  <key>public.kern2.h2</key>
  <array>
    <string>h</string>
    <string>k</string>
    <string>l</string>
  </array>
  <key>public.kern2.i2</key>
  <array>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>j</string>
    <string>m</string>
    <string>n</string>
    <string>ntilde</string>
    <string>p</string>
    <string>r</string>
  </array>
  <key>public.kern2.s2</key>
  <array>
    <string>s</string>
    <string>scaron</string>
  </array>
  <key>public.kern2.u</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
  </array>
  <key>public.kern2.v2</key>
  <array>
    <string>v</string>
    <string>w</string>
  </array>
  <key>public.kern2.z2</key>
  <array>
    <string>z</string>
    <string>zcaron</string>
  </array>
</dict>
</plist>
